<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdj.zdjsystemsiplibrary">

    <!--SIP所需权限以及硬件特征-->
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-feature android:name="android.hardware.sip.voip" android:required="true"/>
    <uses-feature android:name="android.hardware.wifi" android:required="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="true"/>
</manifest>